{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/data.fressian {:mvn/version "1.0.0"} ;; for filestore
        fress/fress                {:git/url "https://github.com/groundedSAGE/fress.git"
                                    :sha "911405e5768937c9af99b943b15563e47dfa5ae3"} 
        io.replikativ/incognito    {:git/url "https://github.com/groundedSAGE/incognito.git"
                                    :sha "69530898a5c5a3ec8de84796d4dce1cedb1fd3a7"}
        io.replikativ/hasch {:git/url "https://github.com/groundedSAGE/hasch.git"
                             :sha "e266b048dea8166e61765788427fd0eff28da084"}
        io.replikativ/superv.async #_{:mvn/version "0.2.11"}
        {:git/url "https://github.com/groundedSAGE/superv.async.git"
         :sha "bc1bf6e4336baee365e7f0da9b3022e450e58750"}
        org.clojars.mmb90/cljs-cache {:mvn/version "0.1.4"}
        ;; reactivate for nodejs support
        ;com.google.javascript/closure-compiler-unshaded {:mvn/version "v20190325"}
        ;org.clojure/google-closure-library {:mvn/version "0.0-20190213-2033d5d9"}
        org.lz4/lz4-java {:mvn/version "1.7.1"}
        com.taoensso/timbre {:mvn/version "4.10.0"}}
 :aliases {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.10.21"}
                               binaryage/devtools   {:mvn/version "1.0.2"}}
                  :extra-paths ["test"]}
           :dev  {:extra-deps {criterium/criterium      {:mvn/version "0.4.4"}
                               cider/cider-nrepl        {:mvn/version "0.19.0"}
                               nrepl/nrepl              {:mvn/version "0.5.3"}}}
           :test {:extra-deps {lambdaisland/kaocha      {:mvn/version "1.0.641"}
                               org.clojure/test.check   {:mvn/version "0.9.0"}}
                  :extra-paths ["test"]}
           :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.116"}}
                 :main-opts ["-m" "hf.depstar.jar" "replikativ-konserve.jar"]}
           :deploy {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "replikativ-konserve.jar"]}
           :format {:extra-deps {cljfmt/cljfmt {:mvn/version "0.7.0"}}
                    :main-opts ["-m" "cljfmt.main" "check"]}}}