{:deps {:aliases [:cljs]}

 :builds
 {:node
  {:target :node-library
   :compiler-options {:infer-externs :auto}
   :runtime :node
   :output-to "konserve.js"
   :exports {:new_fs_store konserve.js/new-fs-store
             :new_indexeddb_store konserve.js/new-indexeddb-store
             :update_in konserve.js/update-in}}
  :app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:entries [konserve.core]}}}

  :browser-test
  {:target :browser-test
   :test-dir  "resources/public/js/test"
   :devtools {:http-port 8021
              :http-root "resources/public/js/test"}}

  :node-test
  {:target :node-test
   :output-to "out/node-tests.js"
   :autorun true}

  :ci
  {:target :karma
   :output-to "target/ci.js"}}}